* {
  margin-top: 0;
  padding-top: 0px;
  box-sizing: border-box;
}
.main-head {
  color: rgb(151, 16, 45);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
}
.bal {
  color: rgb(150, 14, 59);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.num {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  flex-basis: 100%;
}
.main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.sub {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50%;
  width: 285px;
  height: 250px;
  color: black;
  border-color: black;
  box-shadow: 1px 1px 18px;
  /* box-shadow: rgb(0 0 0 / 19%) -8px 6px 26px -2px, rgb(0 0 0 / 23%) 7px -5px 19px 14px; */
  align-content: center;
 
}

.title {
  height: 35px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 300px;
}

.amount:focus, .title:focus {
  outline-color: green;
  outline-width: 1px;
  
}
.amount {
  height: 35px;
  width: 145px;
}
.dropdown {
  height: 35px;
  margin-left: 10px;
  width: 145px;
}
.dropdown:focus {
  outline-color: green;
  outline-width: 1px;
}
.status {
  display: flex;
  margin: 30px;
}
.inc {
  font-family: 'Times New Roman', Times, serif;
  color: green;

}
.exp {
  color: red;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 30px;
}

.history {
  color: rgb(151, 16, 45);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 55px;
  font-weight: bold;
  align-content: center;
  text-align: center;
}

.all {
  justify-content: space-between;
  display: flex;
  width: 300px;
  height: 50px;
  margin: 8px;
  box-shadow: -1px 2px 7px;
  margin-right: 0;
  padding: 0px 10px;
  
  /* box-shadow: rgb(0 0 0 / 19%) 3px 0px 26px -6px, rgb(0 0 0 / 23%) 3px 0px 15px 14px; */
}
.data {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2px;
}
.money {
  font-size: 18px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 14px;
  justify-content: right;
  float: right;
}
.delete {
  justify-content: right;
  border: none;
  cursor: pointer;
  float: right;
  padding: 10px;
  padding-right: 0px;
}
#addBut {
  justify-content: center;
  color: white;
  margin: 5px;
  width: 300px;
  align-content: center;
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.data-expense {
  border-right: 3px solid red;
}
.data-income {
  border-right: 3px solid green;
}
.Expenditure {
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
}
.incCol {
  float: left;
  justify-content: left;
  color: green;
  height: 30px;
  margin: 0px;
  box-shadow: -3px 2px 3px gray;
  padding: 2px;
}
.expCol {
  float: right;
  justify-content: right;
  color: red;
  height: 30px;
  margin: 0px;
  box-shadow: -3px 2px 3px gray;
  padding: 2px;
}
.date {
  flex-wrap: wrap;
  color: grey;
  font-size: 12px;
  font-weight: 500;
  padding-top: 27px;
  margin-left: -175px;
}